<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
        <title>About - {{ title }}</title>
    {% else %}
        <title>About</title>
    {% endif %}

    <link rel="stylesheet" href="files/flask.css" type="text/css">
    <script type="text/javascript" src=""></script>
    <link rel="shortcut icon" href="">

<!-- end RTD <extrahead> -->
</head>
<body>
    {% if title %}
        <H1>About - {{ title }}</H1>
    {% else %}
        <H1>About</H1>
    {% endif %}

<ui>
    {% for m in menu %}
    <li>{{m}}</li>
    {% endfor%}
</ui>
<p>тест</p>

</div>
</body><span id="EXTranslator" class="translator" style="background: rgb(238, 238, 238) url(&quot;moz-extension://c271d7e8-e1fc-4ea7-bae8-37a89fee6c8f/data/icons/24.png&quot;) no-repeat scroll center center;"></span></html>
